.main_body{
        background: darksalmon;
}

/*Header styling vvvvvvvvvvvvvvvvvvvvvv*/ 
header{
        background-color: pink;
}
.header{
        text-align: center;
        font-size: 150%;
}
/*Header styling ^^^^^^^^^^^^^^^^^^^^^^^*/

/*Body styling vvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.body{
        display: block;
        padding: 20px;
        margin-left: 44%;

}
.sign_in_btn{
        margin: 50px;
        padding: 10px;
        margin-left: 50%;
}
/*Body styling ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@media screen and (min-width: 800px) {
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
}

@media screen and (max-width: 1200px) {
}